$active-color: rgba(0, 0, 0, 0.1);

.lengthSlider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    span {
        text-align: right;
    }

    input {
        grid-column: 1/3;
    }

    .range {
        margin: 5px 0;
        -webkit-appearance: none;
        appearance: none;
        background-color: $active-color;
        border-radius: 10px;
        height: 10px;
    }
}